<a href="https://colab.research.google.com/github/MauRamosinTech/Npower-Coursera-Python-Activities/blob/main/Maurice_Anne_Ramos_Activity_Python_Basics_NoteBook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics NoteBook

In [1]:
#Write a Python code to return your Python version
import sys
print(sys.version)

3.10.12 (main, Jun 11 2023, 05:26:28) [GCC 11.4.0]

In [78]:
#Write a Python code to declare variable id="513".
#Print the following statement "customer id =513". [Don't use print("customer id =513")]
id=513
print('Customer id =',id)

Customer id = 513

In [77]:
#Run the following statement, why there is an error

id=id+1 #no error occured but as you kept on running the code it contiously increment to 1
#print(id)

In [79]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id here its always the same result
id=int(id)
new_id=id+1
print(new_id)

514

In [26]:
#Write a Python code to print the following string in a specific format (see the output).

# Twinkle, twinkle, little star,
#     How I wonder what you are!
#        Up above the world so high,
#            Like a diamond in the sky.
print('Twinkle, twinkle, little star,\n \tHow I wonder what you are! \n\t\tUp above the world so high,\n\t\t\tLike a diamond in the sky.')

Twinkle, twinkle, little star,
 	How I wonder what you are!
		Up above the world so high,
			Like a diamond in the sky.

In [44]:
#Givin the following string variable, # Print the first element in the string

course="Python for Data Science"
print(course[0])

P

In [45]:
# Print the element on the 13th index in the string
print(course[13])

t

In [46]:
# Find the length of string
print(len(course))

23

In [51]:
# Print the last element in the string [use negative index]
print(course[-1])

e

In [53]:
# Take the slice on variable course with only index 11 to index 14
print(course[11:15])

Data

In [54]:
# Get every third element in the range from index 0 to index 20
print(course[::3])

Ph ra ic

In [61]:
# Concatenate course string with ", AI & Development"
x=course+' AI & Development'
print(x)

Python for Data Science AI & Development

In [62]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"
course1=x.replace(' ','_')
print(course1)

Python_for_Data_Science_AI_&_Development

In [63]:
# Convert all the characters in string to upper case
course2=x.upper()
print(course2)

PYTHON FOR DATA SCIENCE AI & DEVELOPMENT